/* Style for Capstone Colmar */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}

/* LOGO + MENU */
#navigation {
  display: inline-block;
  justify-self: baseline;
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
  height: 4rem;
  margin: 24px;
  border: 1px solid red;
  margin-top: 1rem;
  }

img .logo {
  float: left;
  width: 10rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  }

#navigation >.nav_bar {
  float: auto;
  width: 42rem;
  height: 4rem;
  font-size: larg;
  margin-left: 41rem;
  list-style-type: none;
}

.bar_item {
  display: inline-block;
  padding: 1rem;
}







/*  MAIN CONTAINER LEARNING SOMETHING EVERYDAY */
.main_container {
  width:100%;
  background-color:  rgba(128, 128, 128, 0.5);
}

.left_banner {
  float: left;
  width: 33.33%;
  margin-left: 2rem;
  padding: 2rem;
  
}

.right_text {
  float: right;
  width: auto;
  padding: 2rem;

}

#neweveryday {
    margin-right: 50rem;
}

div .left_banner {
  float: left;
}

div .right {
  float:right;
}

